.bg-light{
  background:  rgb(0, 154, 217) !important;

}

.navbar a{
  color: #fff !important;
}

.nav-items{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-items li{
  width: 12%;
  text-align:center;
}

.nav-item:hover  {
  background-color: #fff;
  border-radius: 5px ;
  box-shadow: -5px 4px 7px 0 rgba(194,186,194,1);
}

.nav-item:hover a{
  color: rgb(0, 154, 217) !important;
}
